name: Container Image Build

on:
  schedule:
    - cron: "0 1 1 * *" # Run at 00:00 on the first day of the month
  push:
    branches:
      - "*"
    tags:
      - "v*.*.*"
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  PACKAGE_NAME: ${{ github.repository_owner }}/${{ vars.IMAGE_NAME }}

jobs:
  build-lsphp:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    continue-on-error: ${{ matrix.php_version.deprecated || matrix.php_extensions.experimental }}
    strategy:
      max-parallel: 4
      matrix:
        php_version:
          - version: 8.4
            php_detail_version: 8.4.15
            lsphp_version: lsphp84
            php_tag_version: latest
            oci_version: "1"
            deprecated: false
          - version: 8.4
            php_detail_version: 8.4.15
            lsphp_version: lsphp84
            php_tag_version: php84
            oci_version: "1"
            deprecated: false
          - version: 8.3
            php_detail_version: 8.3.13
            lsphp_version: lsphp83
            php_tag_version: php83
            oci_version: "1"
            deprecated: false
        php_extensions:
          - name: "base"
            experimental: false
          - name: "xdebug"
            experimental: true
          - name: "pcov"
            experimental: true
          - name: "oci"
            experimental: false
          - name: "oci-xdebug"
            experimental: true
          - name: "oci-pcov"
            experimental: true

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get & Set Container Metadata
        id: meta-packages
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            ${{ matrix.php_version.php_tag_version }}-${{ matrix.php_extensions.name }}
            type=raw,value=latest,enable=${{ matrix.php_version.php_tag_version == 'latest' && matrix.php_extensions.name == 'base' }}

      - name: Build & Push
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: ./docker-lsphp
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-packages.outputs.tags }}
          labels: ${{ steps.meta-packages.outputs.labels }}
          target: ${{ matrix.php_extensions.name }}
          build-args: |
            BASEIMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:base
            LS_VERSION=${{ matrix.php_version.lsphp_version }}
            PHP_VERSION=${{ matrix.php_version.version }}
            PHP_DETAIL_VERSION=${{ matrix.php_version.php_detail_version }}
            OCI_VERSION=${{ matrix.php_version.oci_version }}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository }}:buildcache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository }}:buildcache,mode=max
